a {
  text-decoration: none;
}

.main-box {
  display: flex;
  gap: 20px; 
  padding: 10px;
}

.skolebox {
  background-color: #3476BA;
  width: 565px;
  height: 1px;
  margin: 20px auto;
  text-align: center;
}

.skolebox p {
  background-color: #3477BA;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 35px;
}

.box-billede {
  width: 100%;
  height: auto;
}



.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  align-items: center;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #E6F4FF;
  max-width: 565px;
  width: 100%;
}

.title {
  font-size: 1.2em;
}

.tilmeld {
  background-color: #cadb61;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}


.tilmeld-pris {
  display: flex;
  justify-content: space-between;
  width: 40%;

}

.pris {
  font-size: 1.1em;
  color: #0c539b;
}




.kalender {
  max-width: 465px;
  margin: 20px auto;
}

.november {
  background-color: #3477BA;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 35px;
}

.ugedage {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  background-color: rgb(184, 212, 255);
  padding: 10px;
  gap: 10px;
  text-align: center;
  font-size: 15px;
  }

.dage {
  grid-template-columns: repeat(7,1fr);
  display: grid;
  background-color: rgb(231, 244, 255);
  padding: 10px;
  gap: 10px;
  font-size: 15px;
}

.dag {
  text-align: center;
  border: 1px solid #0c539b;
  padding: 15px;
  cursor: pointer;
  background-color: white;
  text-decoration: none;
  color: black;
}

#dag5, #dag7, #dag12, #dag14, #dag19, #dag21, #dag26, #dag28 {
  background-color: #a6e48b;
}

#dag2, #dag9, #dag16 {
  background-color: #e48285;
}

.dag:hover {
  background-color: #9dc2fd;
}

#dag2:hover, #dag5:hover, #dag7:hover, #dag9:hover, #dag12:hover, #dag14:hover, #dag16:hover, #dag19:hover, #dag21:hover, #dag26:hover, #dag28:hover {
  background-color: #9dc2fd;
}

#none {
  pointer-events: none;
}

a:visited {
  color: black;
}
      
.popup {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  position: fixed;
}
    
.popup-indhold {
  background-color: white;
  padding: 25px;
  border-radius: 25px;
  text-align: center;
}

.luk {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 50px;
  color: white;
  text-decoration: none;
}

.popup:target {
   display: flex;
}
