/* mobil og tablet */
@media (max-width: 991px) {

    .kalender {
        max-width: 465px;
        margin: 20px auto;
    }

    .november {
        background-color: #0900b7;
        color: white;
        padding: 20px;
        text-align: center;
        font-size: 26px;
    }

    .ugedage {
        display: grid;
        grid-template-columns: repeat(7,1fr);
        background-color: rgb(184, 212, 255);
        padding: 15px;
        gap: 30px;
        text-align: center;
    }

    .dage {
    grid-template-columns: repeat(7,1fr);
    display: grid;
    background-color: rgb(231, 244, 255);
    padding: 15px;
    gap: 30px;
    }

    .dag {
        text-align: center;
        border: 1px solid #0900b7;
        padding: 5px;
        cursor: pointer;
        background-color: white;
    }

    .dag:hover {
        background-color: #9dc2fd;
      }

      
}



/* desktop */ 
@media (min-width: 992px) {

    .kalender {
        max-width: 400px;
        margin: 20px auto;
    }

    .november {
        background-color: #0900b7;
        color: white;
        padding: 20px;
        text-align: center;
        font-size: 26px;
    }

    .ugedage {
        display: grid;
        grid-template-columns: repeat(7,1fr);
        background-color: #ddd;
        padding: 10px 0;
        text-align: center;
    }

    .dage {
    
    }

    .dag {

    }
}