/* mobil og tablet */
@media (max-width: 991px) {

    .kalender {
        max-width: 400px;
        margin: 20px auto;
    }

    .november {
        background-color: #0900b7;
        color: white;
        padding: 20px;
        text-align: center;
        font-size: 26px;
    }

    .ugedage {
        display: grid;
        grid-template-columns: repeat(7,1fr);
        background-color: #ddd;
        padding: 10px 0;
        text-align: center;
    }

    .dage {
    
    }

    .dag {

    }

}



/* desktop */ 
@media (min-width: 992px) {

    .kalender {
        max-width: 400px;
        margin: 20px auto;
    }

    .november {
        background-color: #0900b7;
        color: white;
        padding: 20px;
        text-align: center;
        font-size: 26px;
    }

    .ugedage {
        display: grid;
        grid-template-columns: repeat(7,1fr);
        background-color: #ddd;
        padding: 10px 0;
        text-align: center;
    }

    .dage {
    
    }

    .dag {

    }
}