/* mobil og tablet */
@media (max-width: 991px) {

.Kalender {

}

}



/* desktop */ 
@media (min-width: 992px) {

    .kalender {
        max-width: 400px;
        margin: 20px auto;
    }

    .november {
        background-color: #0900b7;
        color: white;
        padding: 20px;
        text-align: center;
        font-size: 26px;
    }

    .ugedage {
       
    }

    .dage {
    
    }

    .dag {

    }
}