* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
 }
 
 
 .banner-container {
    background-color: #3577BA;
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
 }
 
 
 .banner-container .logo-img {
    width: 8%; 
    height: auto;
    margin-right: auto; 
 } 
 
 .banner-container .banner-img {
    width: 50%; 
    height: auto;
 }
 
 
 
 
 header {
    position: sticky;
    background: #3391c9;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #000000;
 }
 
 
 header .navbar ul {
    list-style: none;
    display: flex;
    gap: 60px;
 }
 
 
 header .navbar ul li {
    position: relative;
    float: left;
 }
 
 
 header .navbar ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 0.5rem;
    color: #ffffff;
    display: block;
 }
 
 
 header .navbar ul li a:hover {
    background: #0179BF;
    color: #ffffff;
 }
 
 
 header .navbar ul li ul {
    position: absolute;
    width: 200px;
    background: #3391c9;
    display: none;
 }
 
 
 header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
 }
 
 
 header .navbar ul li:focus-within > ul,
 header .navbar ul li:hover > ul {
    display: block;
 }
 




/*  mobile */ 
@media(max-width: 600px) {

}





/* tablet */ 
@media (min-width: 601px) and (max-width: 991px) {

}





/* desktop */ 
@media (min-width: 992px) {

}